/* RESETEO */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Fuentes de google */
@font-face {
  font-family: "fuente-titulo";
  src: url(../medios/Interstate\ Black.ttf);
}
@font-face {
  font-family: "fuente-parrafo";
  src: url(../medios/HelveticaNeueLTStd-LtCn.otf);
}
body {
  background-color: antiquewhite;
}

/* HEADER */
header {
  background-color: coral;
  height: auto;
  z-index: 99;
  position: relative;
}
header .logo {
  display: none;
}
header #btn_menu {
  display: none;
}
header label {
  display: none;
}
header .nav-bar {
  text-align: center;
  display: flex;
  justify-content: center;
}
header .nav-bar ul {
  padding-left: 0px;
}
header .nav-bar ul div .logo-hidden {
  height: 150px;
  width: 800px;
}
header .nav-bar ul li {
  list-style-type: none;
  display: inline;
  font-family: fuente-parrafo;
  font-weight: bolder;
  padding: 1rem;
}
header .nav-bar ul li a {
  text-decoration: none;
  padding: 8px;
  background-color: azure;
  border-radius: 0.5rem;
  color: coral;
}

/* Footer */
footer {
  text-align: center;
}
footer p {
  text-decoration: underline;
  font-family: fuente-titulo;
  font-weight: lighter;
  font-size: 25px;
}
footer a .boton-wsp {
  position: fixed;
  right: 15px;
  bottom: 20px;
  width: 6rem;
}
footer a .boton-wsp:hover {
  transform: scale(1.1);
}
footer a .redes {
  width: 6rem;
}
footer a .redes:hover {
  transform: scale(1.1);
}

/* Alerta boostrap */
div .boton {
  border: solid black 3px;
  padding: 4px;
  border-radius: 4px;
  background-color: coral;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: large;
}

/* Main INDEX */
.main-index {
  text-align: center;
}
.main-index h1 {
  font-size: 50px;
  font-family: "fuente-titulo";
  margin: 20px;
}
.main-index .relleno {
  background-color: coral;
  font-size: 1.5rem;
  font-family: fuente-parrafo;
  font-weight: lighter;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main-index .video-principal {
  width: 80%;
  height: 400px;
  border-radius: 10px;
}
.main-index h2 {
  text-decoration: underline;
  font-family: fuente-titulo;
  font-weight: lighter;
}
.main-index .contenedor-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "nacho-imagen nacho-texto" "andres-imagen andres-texto" "alvaro-imagen alvaro-texto" "matias-imagen matias-texto";
  grid-gap: 10px;
  margin: 20px;
}
.main-index .contenedor-grid img {
  height: 200px;
  border-radius: 10px;
}
.main-index .contenedor-grid p {
  font-size: 1.5rem;
  font-family: fuente-parrafo;
  font-weight: lighter;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main-index .contenedor-grid p .resaltado {
  font-weight: 900;
}
.main-index .contenedor-grid .imagen-1 {
  grid-area: nacho-imagen;
}
.main-index .contenedor-grid .texto-1 {
  grid-area: nacho-texto;
  border: solid black 2px;
  background-color: coral;
  height: auto;
}
.main-index .contenedor-grid .imagen-2 {
  grid-area: andres-imagen;
}
.main-index .contenedor-grid .texto-2 {
  grid-area: andres-texto;
  border: solid black 2px;
  background-color: coral;
  height: auto;
}
.main-index .contenedor-grid .imagen-3 {
  grid-area: alvaro-imagen;
}
.main-index .contenedor-grid .texto-3 {
  grid-area: alvaro-texto;
  border: solid black 2px;
  background-color: coral;
  height: auto;
}
.main-index .contenedor-grid .imagen-4 {
  grid-area: matias-imagen;
}
.main-index .contenedor-grid .texto-4 {
  grid-area: matias-texto;
  border: solid black 2px;
  background-color: coral;
  height: auto;
}

/* MAIN TRABAJOS */
.main-trabajos {
  text-align: center;
}
.main-trabajos h1 {
  font-size: 50px;
  font-family: "fuente-titulo";
  margin: 20px;
}
.main-trabajos .contenedor-flex {
  display: flex;
  flex-direction: column;
}
.main-trabajos .contenedor-flex h2 {
  font-size: 30px;
  font-family: fuente-titulo;
  font-weight: lighter;
  text-decoration: underline;
  margin-top: 1rem;
}
.main-trabajos .contenedor-flex .elemento-flex {
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 20px;
}
.main-trabajos .contenedor-flex .elemento-flex.relleno {
  background-color: coral;
}
.main-trabajos .contenedor-flex .elemento-flex .video-settings {
  border-radius: 10px;
  height: auto;
  width: auto;
}
.main-trabajos .contenedor-flex .elemento-flex .class-p {
  width: auto;
  font-size: x-large;
  font-size: 1.5rem;
  font-family: fuente-parrafo;
  font-weight: lighter;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

/* MAIN PRENSA */
.main-prensa {
  text-align: center;
}
.main-prensa h1 {
  font-size: 50px;
  font-family: "fuente-titulo";
  margin: 20px;
}
.main-prensa h2 {
  font-size: 30px;
  font-family: fuente-titulo;
  font-weight: lighter;
  text-decoration: underline;
  margin-top: 1rem;
}
.main-prensa .cont-cards {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.main-prensa .cont-cards .card {
  margin: 15px;
}
.main-prensa .cont-cards .card .boton {
  border: solid black 3px;
  padding: 4px;
  border-radius: 4px;
  background-color: coral;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: large;
}

/* MAIN AQUELLA NOCHE */
.main-aquella-noche {
  text-align: center;
}
.main-aquella-noche h1 {
  font-size: 50px;
  font-family: "fuente-titulo";
  margin: 20px;
}
.main-aquella-noche .video-pelicula {
  width: 560px;
  height: 315px;
  margin-top: 20px;
}
.main-aquella-noche .relleno {
  background-color: coral;
  font-size: 1.5rem;
  font-family: fuente-parrafo;
  font-weight: lighter;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.main-aquella-noche .cont-carousel {
  display: flex;
  justify-content: center;
}
.main-aquella-noche .cont-carousel #carouselExample {
  margin: 20px;
  width: 60%;
}
.main-aquella-noche .cont-carousel #carouselExample .carousel-item {
  width: 100%;
}
.main-aquella-noche .cont-carousel #carouselExample .carousel-item img {
  width: 100%;
}

/* MAIN CONTACTOS */
.main-contacto {
  text-align: center;
}
.main-contacto form {
  width: 100%;
  background-color: faebd7;
  height: 50%;
  padding: 30px;
}
.main-contacto form h1 {
  font-size: 50px;
  font-family: "fuente-titulo";
  margin: 20px;
}
.main-contacto form input {
  width: 100%;
  font-size: 25px;
}
.main-contacto form textarea {
  width: 100%;
  font-size: 25px;
}
.main-contacto form #enviar {
  background-color: coral;
  font-size: 25px;
  padding: 15px;
}

/* Media para mobile */
/* HEADER PARA MOBILE */
@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .logo {
    display: block;
    width: 200px;
    margin-left: 25px;
  }
  header #btn_menu:checked ~ .nav-bar {
    visibility: visible;
  }
  header label {
    display: block;
    position: relative;
    right: 25px;
  }
  header img {
    width: 40px;
  }
  .nav-bar {
    position: absolute;
    top: 50px;
    background-color: #E2E3E5;
    width: 100vw;
    visibility: hidden;
  }
  .nav-bar ul {
    display: flex;
    flex-direction: column;
  }
  .nav-bar ul div .logo-hidden {
    display: none;
  }
  .nav-bar ul li {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  /* MAIN PARA MOBILE */
  .main-index h1 {
    font-size: 30px;
  }
  .main-index .relleno {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .main-index section .video-principal {
    width: 90vw;
    height: 250px;
  }
  .main-index section h3 {
    margin: 10px;
  }
  .main-index section .contenedor-grid {
    grid-template-columns: repeat(1, auto);
    grid-template-areas: "nacho-imagen" "nacho-texto" "andres-imagen" "andres-texto" "alvaro-imagen" "alvaro-texto" "matias-imagen" "matias-texto";
  }
  .main-index section .contenedor-grid img {
    height: 200px;
  }
  .main-index section .contenedor-grid div p {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .main-trabajos h1 {
    font-size: 30px;
  }
  .main-trabajos .contenedor-flex {
    display: flex;
    flex-direction: column;
  }
  .main-trabajos .contenedor-flex .elemento-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin: 0px;
  }
  .main-aquella-noche h1 {
    font-size: 30px;
  }
  .main-aquella-noche .video-pelicula {
    width: 80vw;
    height: 45vw;
  }
  .main-aquella-noche .relleno {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .main-prensa h1 {
    font-size: 30px;
  }
  .main-contacto form h1 {
    font-size: 30px;
  }
}
/* MEDIA PARA TABLET */
@media only screen and (max-width: 1024px) {
  .main-trabajos .contenedor-flex {
    display: flex;
    flex-direction: column;
  }
  .main-trabajos .contenedor-flex .elemento-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
