/* MAIN CONTACTOS */
.main-contacto{
    text-align: center;
    form{
        width: 100%;
        background-color: faebd7;
        height: 50%;
        padding: 30px;
        h1{
            font-size: 50px;
            font-family: "fuente-titulo";
            margin: 20px;   
        }
        input{
            width: 100%;
            font-size: 25px;
        }
        textarea{
            width: 100%;
            font-size: 25px;
        }
        & #enviar{
            background-color: coral;
            font-size: 25px;
            padding: 15px;
        }
    }
}