@font-face {
    font-family: "fuente-titulo";
    src: url(../medios/Interstate\ Black.ttf);
  }
  @font-face {
    font-family: "fuente-parrafo";
    src: url(../medios/HelveticaNeueLTStd-LtCn.otf);
  }