/* Media para mobile */
/* HEADER PARA MOBILE */
@media only screen and (max-width: 768px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: block;
            width: 200px;
            margin-left: 25px;
        }
        #btn_menu{
            &:checked{
                ~ .nav-bar{
                    visibility: visible;
                }
            }
        }
        label{
            display: block;
            position: relative;
            right: 25px;
            }
            img{
                width: 40px;
            }
        }
        .nav-bar{
            position: absolute;
            top: 50px;
            background-color: #E2E3E5;
            width: 100vw;
            visibility: hidden;
            ul{
                display: flex;
                flex-direction: column;
                div{
                    .logo-hidden{
                        display: none;
                    }
                }
                li{
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                }
            }
        }
/* MAIN PARA MOBILE */
        .main-index{
            h1{
                font-size: 25px;
            }
            .relleno{
                margin: auto;
                margin-top: 15px;
                margin-bottom: 20px;
                padding: 20px;
            }
            section{
                .video-principal{
                    width: 90vw;
                    height: 250px;
                }
                h3{
                    margin: 10px;
                }
                .contenedor-grid{
                    grid-template-columns: repeat(1,auto);
                                    grid-template-areas:"nacho-imagen" 
                                    "nacho-texto"
                                    "andres-imagen" 
                                    "andres-texto"
                                    "alvaro-imagen" 
                                    "alvaro-texto"
                                    "matias-imagen"
                                    "matias-texto";
                    img{
                        height: 200px;
                    }
                    div{
                        p{
                            margin: auto;
                            margin-top: 15px;
                            margin-bottom: 20px;
                            padding: 20px;
                        }
                    }
                }
                
            }
        }
        .main-trabajos{
            .contenedor-flex{
                display: flex;
                flex-direction: column;
                .elemento-flex{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    height: auto;
                    margin: 0px;
                }
            }
        }
    }

/* MEDIA PARA TABLET */
@media only screen and (max-width: 1024px){
    .main-trabajos{
    .contenedor-flex{
        display: flex;
        flex-direction: column;
        .elemento-flex{
            display: flex;
            flex-direction: column;
            text-align: center;
            height: auto;
            margin: 0px;
        }
    }
}
}
