/* MAIN TRABAJOS */
.main-trabajos{
    text-align: center;
    h1{
        @include letra-titulo;
    }
    .contenedor-flex{
        display: flex;
        flex-direction: column;
    
        h2{
            @include letra-secundaria;
        }
        .elemento-flex{
        border: solid 1px black;
        display: flex;
        flex-direction: row;
        height: auto;
        margin: 20px;
            &.relleno{
                background-color: $color-fondo;
            }
        .video-settings{
                border-radius: 10px;
                height: auto;
                width: auto;
            }
        .class-p{
                width: auto;
                font-size:x-large;
                @include letra-parrafo;
            }
        
        }
    }
}