/* MAIN AQUELLA NOCHE */
.main-aquella-noche{
    text-align: center;
    h1{
        @include letra-titulo;
    }
    .video-pelicula{
        width: 560px;
        height: 315px; 
        margin-top: 20px;
    }
    .relleno{
        background-color:$color-fondo;
        @include letra-parrafo;
    }
    .cont-carousel{
        display: flex;
        justify-content: center;
        #carouselExample{
            margin: 20px;
            width: 100%;
            .carousel-inner{
                width: 800px;
                height: 400px;
            }
        }
    }
}