/* Main INDEX */
.main-index{
    text-align: center;
    h1{
        @include letra-titulo;
    }
    .relleno{
        background-color:$color-fondo;
        @include letra-parrafo;
    }
    .video-principal{
        width: 80%;
        height: 400px;
        border-radius: 10px;
    }
    h2{
        text-decoration: underline;
        font-family: fuente-titulo;
        font-weight: lighter;
    }
    .contenedor-grid{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-areas: "nacho-imagen nacho-texto"
                                "andres-imagen andres-texto"
                                "alvaro-imagen alvaro-texto"
                                "matias-imagen matias-texto";
        grid-gap: 10px;
        margin: 20px;
        img{
            height: 200px;
            border-radius: 10px;
        }
        p{
            @include letra-parrafo;
            .resaltado{
                font-weight:900;
            }
        }
        .imagen-1{
            grid-area: nacho-imagen;
        }
        .texto-1{
            grid-area: nacho-texto;
            @include texto-grid;
        }
        .imagen-2{
            grid-area: andres-imagen;
        }
        .texto-2{
            grid-area: andres-texto;
            @include texto-grid;
        }
        .imagen-3{
            grid-area: alvaro-imagen;
        }
        .texto-3{
            grid-area: alvaro-texto;
            @include texto-grid;
        }
        .imagen-4{
            grid-area: matias-imagen;
        }
        .texto-4{
            grid-area: matias-texto;
            @include texto-grid;
        }
    }
}
