/* MAIN PRENSA */
.main-prensa{
    text-align: center;
    h1{
        @include letra-titulo;
    }
    h2{
        @include letra-secundaria;
    }
    .cont-cards{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            margin: 15px;
            .boton{
                border: solid black 3px;
                padding: 4px;
                border-radius: 4px;
                background-color: $color-fondo;
                cursor: pointer;
                text-decoration: none;
                color: black;
                font-size: large;
            }
        }
    }
}