/* MAIN PRENSA */
.main-prensa{
    text-align: center;
    h1{
        font-size: 50px;
        font-family: "fuente-titulo";
        margin: 20px;
    }
    h2{
        font-size: 30px;
        font-family: fuente-titulo;
        font-weight: lighter;
        text-decoration: underline;
        margin-top: 1rem;
    }
    .cont-cards{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            margin: 15px;
            .boton{
                border: solid black 3px;
                padding: 4px;
                border-radius: 4px;
                background-color: coral;
                cursor: pointer;
                text-decoration: none;
                color: black;
                font-size: large;
            }
        }
    }
}