/* Alerta boostrap */
div{
    .boton{
        border: solid black 3px;
        padding: 4px;
        border-radius: 4px;
        background-color: $color-fondo;
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-size: large; 
    }
}